meter {
    background: #eaebec;
    display: block;
    height: 10px;
    position: relative;
    width:100%
}

meter::-webkit-meter-bar {
    background: #eaebec;
    border: 0;
    border-radius: 6px 6px 0 0;
    height: 10px;
}

meter::-webkit-meter-optimum-value {
    background: #059669;
    border-radius: 6px 6px 6px 0;
    -webkit-transition: .15s ease;
    transition: .15s ease;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #059669;
    border: 0;
    border-radius: 6px 6px 6px 0;
    -moz-transition: .15s ease;
    transition: .15s ease;

}
